:root {
    --light-yellow : #F8FCDA;
    --pale-spring-bud : #E3E9C2;
    --dark-state-gray : #315555;
    --lemon-yellow-crayola : #F9FBB2;
    --silver-charlice : #A5ABAF;
}

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

h1,
h2,
p {
    color : var(--dark-state-gray);
}


.container {
    background-color: var(--light-yellow);
    width: 100%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}


.wrapper-content {
    width : 100%;
    max-width: 1170px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

.title-cv {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0px;
    font-size: 25px;
    font-weight: 700;    
}



.title-cv h1{
    display: inline-block;
    position: relative;  
}

.title-cv h1::before {
     content: "";
     position: absolute;
     width: 25px;
     height: 3px;
     background-color: var(--dark-state-gray);
     top: 50%;
     transform: translateX(-130%);
}

.title-cv h1::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--dark-state-gray);
    top: 50%;
    transform: translateX(30%);
}


.skill {
    text-align: center;
    margin-top: 20px;
}

.skill-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experiences h2,
.skill h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 10px;
    position: relative;
    display:inline-block; 
}

.skill-technical {
    display: flex;
    align-items: center;
    width: 180px;
    background-color: var(--pale-spring-bud);
    border-radius: 10px;
    transition: 0.3s;
    justify-content: flex-start;
    box-shadow: 1px 1px 4px var(--dark-state-gray);
    animation: popUp 0.5s ease-out;
}

.skill-description {   
    width: 600px;
    height: 300px;
    padding: 8px;
    text-align: left;
    background-color: var(--dark-state-gray);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    border: 5px solid var(--lemon-yellow-crayola);
    display: none;
    box-shadow: 3px 5px 10px;
}




.des-icon {
    display: flex;
    justify-content: flex-end;
}

.skill-description img {
    height: 25px;
    padding: 3px;
}

.skill-description img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.skill-description p {
    font-size: 20px;
    font-weight: 100;
    color : var(--light-yellow);
    padding: 10px;
    text-align: justify;
}

.skill-technical:hover {
    background-color: var(--lemon-yellow-crayola);
    cursor: pointer;
    transform: scale(1.05);
}

.skill-technical p {
    margin : 0px 8px;
    font-size: 20px;
    font-weight: 600;

}


.down-icon {
    height: 20px;
    padding-right: 10px;
}
.skill-icon {
    height: 50px;
    padding: 5px;
}

.toppart {
    display: flex;
    margin-bottom: 15px;
}

.summary {
    display: inline-flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-bottom: 15px;
}

.infor-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-avatar {
    width : 250px;
    max-width: 30%;
    animation: slideFromTop 0.5s ease-out;
}

.information-block {
    width: 320px;
    animation: popUp 0.5s ease-out;
}

.information-block h2{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3px;

}

.basic-infor-item {
    display: flex;
    align-items: center;
    padding: 3px 0px;
    background-color: var(--pale-spring-bud);    
    height: 40px;
    margin: 2px 0px;
    border-radius: 5px;
}

.basic-infor-item img {
    width: 40px;
    padding : 3px 5px;
}

.basic-infor-item p {
    font-weight: 501;
    padding-left: 3px;
}

.summary-description {
    background-color: var(--pale-spring-bud);
    border-radius: 10px;
    padding: 10px;
    height: max-content;
    margin-top: 20px;
    margin-right: 15px;
    text-align: left;
    position: relative;
    animation: slideFromLeft 0.8s ease-out;
}

.summary-description:after {
	content: '';
	position: absolute;
	right: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: var(--pale-spring-bud);
	border-right: 0;
	margin-top: -15px;
	margin-right: -15px;
}

.summary-description p {
    font-size: 1.2em;
    font-weight: 100;
    margin: 5px;
}

.summary-description p a {
    font-weight: 700;
}

.experiences {
    margin-top: 20px;
    text-align: center;
   
}

.experience-item {
    background-color: var(--pale-spring-bud);
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

.experience-item:nth-of-type(1) {
    animation: slideFromLeft 0.5s ease-out;
}

.experience-item:nth-of-type(2) {
    animation: slideFromRight 0.5s ease-out;
}

.experience-item:nth-of-type(3) {
    animation: slideFromLeft 0.5s ease-out;
}

.company {
    font-size: 25px;
    font-weight: 501;
}

.role  {
    margin-top: 3px;
    font-style: italic;
}

.project-summary {
    margin-top: 5px;;
    font-weight: 501;
    text-align: justify;
}




/* social button */

.connect-me {
    text-align: center;
    margin-top: 20px;
    position: relative;
}



.connect-me::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--dark-state-gray);
    transform: translateX(-50%) translateY(-10px);
}

.connect-me h2 {
    font-size: 25px;
    color : var(--dark-state-gray);
    margin-bottom: 10px;
}

.connect-me a{
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.button-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--lemon-yellow-crayola);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: 2px solid var(--dark-state-gray);
    box-sizing: content-box;
  }
  
  .button-social:hover{
    width: 160px;
  }

  .button-social .icon{    
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    color: var(--dark-state-gray);
  }

  .button-social .icon img{
    height: 30px;
    margin-top: 10px;
    transition: all 0.3s ease-out;
  }

  .social-name {
    display: inline-block;
    position: relative;
    top: -5px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 501;  
    transition: all 0.3s ease-out;
    color: var(--dark-state-gray);
    
  }

  /* print button */
  .print-button {
      height: 40px;
      width: 100px;
      background-color: var(--lemon-yellow-crayola);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: fixed;
      right: 0;
      bottom: 40px;
      display: none;
      padding: 5px;
      align-items: center;
      border-right: 0px;
      box-shadow: -2px 2px 8px;
      transition: all 0.3s ease-out;
  }

  .print-button:hover {
    transform: scale(1.15);
    cursor: pointer;
  }

  .print-button img {
      height: 30px;
  }

  .print-button p {
      padding-left: 5px;
      color: var(--dark-state-gray);
      text-transform: uppercase;
      font-weight: 501;

  }


  /* for Tablet  */
  @media screen and (min-width : 740px) and (max-width : 1000px) {
    .information-block:nth-of-type(2){
        margin: 0px 5px;
    }
  }

  /* for Mobile */
  @media screen and (max-width : 740px) {
    .print-button {
        display: none;
    }
    .infor-section {
        flex-flow: wrap;
    }
    .information-block {
        width: 100%;
    }
    .skill-blocks {
        flex-flow: wrap;
        justify-content: center;
       
    }
    .skill-technical {
        margin : 4px;
    }
  }

  /* ajustment for top part */
  @media screen and (max-width : 600px) {
    h1::after {
        display: none;
    }
    h1::before {
        display: none;
    }
    .summary-avatar {
        height : 30vw;
    }
    .summary {
        align-items: flex-end;
    }
  }

  /* adjustment for pop up */
  @media screen and (max-width : 626px) {
    .skill-description {
        width: 100%;
        left: 0;
        margin-left: 0px;
        height: auto;
    }
  }

  /* adjustment for avatar image */
  @media screen and (max-width : 400px) {
    .summary {
        flex-direction: column;
        align-items: center;
    }
    .summary-description::after {
        display: none;
    }
    .summary-avatar {
        height: auto;
        max-width: 85%;;
    }
  }

  @media print {
    .title-cv {
        display: none !important;
    }
    .summary-description::after {
        display: none;
    }
    .connect-me {
        display: none;
    }
    .summary-avatar {
        width: 180px;
    }
    .summary {
        margin-bottom: 0px;
    }
    .skill {
        margin-top: 0px;
    }
    .experiences {
        margin-top: 0px;
    }
    .skill-icon {
        display: none;
    }
    .skill-technical {
        box-shadow: none;
    }
    .basic-infor-item {
        margin : 0px;
        height: 25px;
        padding: 0px;
    }
    .basic-infor-item img {
        width: 25px;
    }
    h2 {
        margin: 0px !important;
        font-size: 25px !important;
    }
    .experience-item {
        margin: 0px;
        padding: 0px;
    }
    .company {
        font-size: 20px;
    }
    .print-button {
        display: none !important;
    }
  }

  /* animation */
  @keyframes popUp {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-200px)
    }
    100% {
        transform: translateX(0px)
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(200px)
    }
    100% {
        transform: translateX(0px)
    }
}


@keyframes slideFromTop {
    0% {
        transform: translateY(-100px)
    }
    100% {
        transform: translateY(0px)
    }
}